<app-navbar></app-navbar>

<div class="container">
    <h2>Pedidos pendientes</h2>
    <div class="row" style="margin: 20px;border: 0.5px solid #ddd;padding: 10px;border-radius: 5px;">
        <div class="col-md-4">
            <h4>Niveles para Filtrar</h4>
            <p class="cursor-pointer" *ngFor="let item of listFilter" (click)="selectItem(item);">
                {{item.name}}
            </p>

        </div>
        <div class="col-md-8">
            <h4>Niveles Seleccionados</h4>
            <div class="chip" *ngFor="let item of tempfilters; let i = index">
                <span style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;">
                    {{item.name}}
                    <!-- <span class="closebtn" (click)="removeItem(item);">&times;</span> -->
                </span>
            </div>
        </div>

    </div>
    <h1>Angular 2 Recursive List</h1>
    <ul>
      <ng-template #recursiveList let-list>
        <li *ngFor="let item of list">
          {{item.title}}
          <ul *ngIf="item.children.length > 0">
            <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: item.children }"></ng-container>
          </ul>
        </li>
      </ng-template>
      <ng-container *ngTemplateOutlet="recursiveList; context:{ $implicit: list }"></ng-container>
    </ul>
<!-- 
        <button (click)="filtertest();">
            test
        </button> -->

    <!-- <ul>
        <li *ngFor="let item1 of datos">
            {{'Seleccion :'+item1.desc}}        
        </li>
    </ul> -->
    <!-- <div *ngFor="let item1 of tst">
        {{item1.desc}}
        <div *ngFor="let item2 of item1.sub1">
            {{item2.desc}}

            <div *ngFor="let item3 of item2.sub2">
                {{item3.desc}}

                <div *ngFor="let item4 of item3.sub3">
                    {{item4.desc}}

                    <div *ngFor="let item5 of item4.sub4">
                        {{item5.desc}}

                        <div *ngFor="let item6 of item5.sub5">
                            {{item6.desc}}
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div> -->


</div>